@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.bottom {
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    text-align: center;
}

.button2 {
    background-color: #b94f38;
    border: none;
    color: #ffd09c;
    padding: 2px 10px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 20px 2px;
    cursor: pointer;
    border-radius: 30px;
}

.button {
    background-color: #b94f38;
    border: none;
    color: #ffd09c;
    padding: 15px 50px;
    font-size: 25px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 20px 2px;
    cursor: pointer;
    border-radius: 30px;
}

.bg {
    position: fixed;
    top: 0;
    text-align: center;
    width: 100%;
    image-rendering: pixelated;
}

/* Modal container */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

/* Modal content box */
.modal-content {
    background-color: #ffd09c;
    color: #b94f38;
    font-family: "Fira Sans";
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
}

/* Close button */
.close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #000;
}
